<div class="contents row">
  <div class="container">
    <h3>映画ランキング</h3>
    <div class="scrollable-form-container">
      <%= form_with(model: @tweet, local: true) do |form| %>
        <% (1..10).each do |rank| %>
          <h4><%= "ランキング#{rank}位" %></h4>
          <%= form.text_field "ranking_#{rank}_movie_name".to_sym, placeholder: "Movie Name" %>
        <% end %>
        <%= form.submit "SEND" %>
      <% end %>
    </div>
  </div>
</div>